<!DOCTYPE html>
<html>
<head>
  <title>ZYJewelry</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">
  <div id="banner">
    <%= image_tag("rails.png") %>
    <%= @page_title || "ZY Jewelry" %>
  </div>

  <div id="columns">
    <div id="side">
      <div id="cart">
        <% if @cart %>
          <%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %> 
            <%= render @cart %> 
          <% end %>
        <% end %>
      </div>

      <ul>
        <li><a href="http://localhost:3000">Main Page</a></li>
        <li><a href="http://localhost:3000/products">Listing Products</a></li>
        <li><a href="http://localhost:3000/orders">Listing Orders</a></li>
        <li><a href="http://localhost:3000/carts">Listing Carts</a></li>
      </ul>
    </div>
    <div id="main">
      <%= yield %>
    </div>
    <br /><br /><br />
    Designer's E-mail<br />
    zhihao@unm.edu
  </div>
</body>
</html>
